.win-button {
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;

  &--medium {
    height: 30px;
    min-width: 100px;
    font: var(--win-font-body);
  }

  &--small {
    min-width: 50px;
    height: 22px;
    font: var(--win-font-body);
  }

  &--standrad {
    color: var(--win-color-text-primary);
    background-color: var(--win-color-control-default);

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      z-index: -1;
      border-radius: 4px;
      background-color: var(--win-color-control-default);
      background-image: var(--win-color-elevation-control);
    }

    &:hover {
      background-color: var(--win-color-control-secondary);

      &::before {
        background-color: var(--win-color-control-secondary);
      }
    }

    &:active {
      color: var(--win-color-text-secondary);
      background-color: var(--win-color-control-tertiary);

      &::before {
        background-color: var(--win-color-control-tertiary);
      }
    }
  }

  &--accent {
    color: var(--win-color-text-accent-primary-2);
    background-color: var(--win-color-accent-default);

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      z-index: -1;
      border-radius: 4px;
      background-color: var(--win-color-accent-default);
      background-image: var(--win-color-elevation-control-accent);
    }

    &:hover {
      background-color: var(--win-color-accent-secondary);

      &::before {
        background-color: var(--win-color-accent-secondary);
      }
    }

    &:active {
      color: var(--win-color-text-accent-secondary-2);
      background-color: var(--win-color-accent-tertiary);

      &::before {
        background-color: var(--win-color-accent-tertiary);
      }
    }
  }
}